<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>

    <mapping resource="ua/vinni/firstproject/springlibrary/entities/Author.hbm.xml"/>
    <mapping resource="ua/vinni/firstproject/springlibrary/entities/Book.hbm.xml"/>
    <mapping resource="ua/vinni/firstproject/springlibrary/entities/Genre.hbm.xml"/>
    <mapping resource="ua/vinni/firstproject/springlibrary/entities/Publisher.hbm.xml"/>
    <mapping resource="ua/vinni/firstproject/springlibrary/entities/Vote.hbm.xml"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>